asyncio
#googletrans-py
https://github.com/bllendev/py-googletrans/archive/refs/heads/master.zip
translators
gtts
html5lib
httpx[http2]
opencv-python
psutil
pypng
pyqrcode
pyrogram
requests
uvloop
tgcrypto
